contourpy==1.2.1
cycler==0.12.1
EasyProcess==1.1
entrypoint2==1.1
fonttools==4.53.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
mss==9.0.1
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pillow==10.3.0
pyparsing==3.1.2
pyscreenshot==3.1
python-dateutil==2.9.0.post0
six==1.16.0
zipp==3.19.2
